body{
    margin-top:20px;
    background:#f8f8f8;
  }
  .active-circle {
    color: green;
  }
  .not-active-circle {
    color: grey;
  }
 h3{
    color: blue;
}
.alert.alert-warning {
  display: none;
}
.form-group {
  margin-top: 10px;
}
.form-check.form-switch {
  margin-top: 10px;
}
.form-switch {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding-left: 1px;
}
.form-switch label {
 margin-right: 50px;
}